<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/header :: header}">
</head>
<head>
    <style>
        #containerDiv {
            margin-top: 150px;
            /*width: 600px;*/
            /*height: 300px;*/
            /*border: 3px solid white;*/
            /*padding: 50px;*/
        }

        #containerDiv>h1 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container text-center text-white col-auto" id="containerDiv">
    <h1>요청하신 페이지를 <br>찾을 수 없습니다.</h1>
    <p>입력하신 주소가 맞는 지 다시 한 번 확인 부탁드리겠습니다.</p>
    <button type="button" class="btn btn-lg btn-primary" th:onclick="|location.href='@{/}'|">홈으로 돌아가기</button>
    <button type="button" class="btn btn-lg btn-primary" onclick="goBack()">이전 페이지</button>
</div>
<div th:replace="~{fragment/pageup::pageup}"></div>
</body>
</html>