<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/header :: header}"></head>
<body>
<div th:replace="~{fragment/navbar::navbar}" class="navbar-fixed mb-3"></div>
<div class="container">
    <div class="row py-4 headerTitle">
        <div class="col-12 text-center">
            <h2 class="text-white fw-bold">조원 리스트</h2>
        </div>
    </div>
    <div class="row justify-content-center bottom">
        <div class="card mb-5" style="width: 18rem;">
            <img src="/img/yjw.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold">윤종원<span class="text-primary">(조장)</span></h5>
                <p class="card-text">
                    <strong>담당업무 :</strong> 제품 조회, Lot 조회, 상세정보 등록
                </p>
                <p><strong>팀프로젝트에 대한 소감 : </strong>
                    <br>
                    부족한 지식이지만 열심히 프로젝트에 임했습니다. 원래 더 많은 기능들을 구현하고 싶었지만 시간도 부족하고 생각지 못한 에러들이 발생하여 100% 만족스러운 결과는 아니라고 생각하지만 완성을 했다는 것에 대한 성취감을 느낄 수 있었습니다.
                    <br><br>
                    이번 프로젝트를 통해서 스프링을 활용한 프로젝트 구현에 많은 경험을 할 수 있었습니다. 백엔드 개발에 있어서 내가 부족한 부분은 무었이었는지, 앞으로 더 채워나갈 지식은 무엇이 있을지 고민도 할 수 있는 귀중한 경험이었다고 생각합니다.
                    <br><br>
                    이후에는 백엔드 개발에 있어서 제가 무엇을 공부해야 할지 고민하고 부족한 부분을 채워나가는 진취적인 사람이 되도록 노력할 예정입니다.
                    <br>
                    성장하고 싶은 젊은 개발자의 앞길을 응원해 주시면 감사하겠습니다!
                </p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img src="/img/kkm.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold">김경민</h5>
                <p class="card-text">
                    <strong>담당업무 :</strong> 전체적인 기획 설계, 테이블 설계 및 구현, 로그인 관련 기능
                </p>
                <p><strong>팀프로젝트에 대한 소감 : </strong>
                    <br>
                    학교를 다녔을 때의 프로젝트와는 다른 분야와 방식을 배우면서 지금까지 몰랐던 스마트팩토리라는 분야를 기획을 하면서 조금이라도 알 수 있었습니다.
                    <br><br>
                    기획과 설계에 필요한 요소들과 커뮤니케이션 방식을 좀 더 자세히 익힐수가 있었고 이러한 요소들은 다른 프로젝트나 기획에서도 적용시켜볼 수 있는 좋은 경험이 되었습니다.
                    생소한 분야의 테이블을 설계하면서 DB 설계가 단순히 DB의 요소를 생각하는것 뿐만 아니라 여러방면을 생각하여야 한다는걸 깨달아 조사를 하게 되었고 자신들의 프로세스 모델을 파악하여 좀 더 체계적으로 설계 할 수 있었습니다.
                    <br><br>
                    이번 프로젝트에서 누구 한 명 누락하는 일 없이 다 같이 열심히해서 프로젝트를 완성하게 해준 팀원들에게 고맙다는 말을 전하고 싶습니다.
                </p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img src="/img/kdw.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold">김대원</h5>
                <p class="card-text">
                    <strong>담당업무 :</strong> WebSocket과 Thread를 이용한 비즈니스 로직 담당
                </p>
                <p><strong>팀프로젝트에 대한 소감 : </strong>
                    <br>
                    서버와 클라이언트 간의 양방향 통신을 할 수 있는 웹소켓을 사용해볼 수 있었고, 쓰레드를 활용하여 2가지 작업을 동시할 수 있는 좋은 경험이 되었습니다.
                    <br><br>
                    아쉬운 점은 첫 기획 당시 개발의 시간 여유가 있다면 로그인 등에서 보안적인 부분을 처리해줄 수 있는 스프링 시큐리티와 Mybatis도 공부하여 적용해보고 싶었지만 시간이 부족하여 적용해보지 못했던 부분이 아쉬웠습니다.
                    <br><br>
                    이번 프로젝트를 통해 웹소켓과 쓰레드를 사용해보고 코드 리팩토링을 하면서 코드를 좀 더 간결하게 하게 수정하고 로직 코드를 짜는 데 있어 많은 도움이 되었습니다.
                    <br>
                    팀원 누구 한 명 빠짐 없이 최선을 다해 각자 맡은 업무를 성공적으로 끝마치고 원활한 소통으로 프로젝트를 완성시킬 수 있게되어 너무 만족스러운 시간이였습니다.
                    <br>
                    모두 원하는 곳에 취업을 성공하고 점점 더 개발자로서의 역량을 갈고 닦기를 기원합니다. 감사합니다.
                </p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img src="/img/kjr.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold">김정래</h5>
                <p class="card-text">
                    <strong>담당업무 :</strong> 부트스트랩 및 CSS 미디어 쿼리를 이용한 반응형 웹 사이트 제작 및 자바 스크립트를 활용한 프론트 엔드 구현
                </p>
                <p><strong>팀프로젝트에 대한 소감 : </strong> <br>
                    JS 및 jQuery의 기본 문법과 사용법을 익혀 사용해볼 수 있었습니다.<br><br>

                    다만, 정확한 이론 등의 개념을 자세히 볼 시간이 없었기에 다양한 기능들을 추가하지 못한 점과 React 같은 부분도 공부하여 적용해보고 싶었지만 시간이 부족했던 것이 아쉬웠습니다.<br><br>

                    이번 프로젝트를 통해 프론트엔드 개발자로 거듭하기 위해서 제가 부족한 부분이 어떤 것인지 파악을 할 수 있었으며 수업 중에 이해가 되지 않았던 부분을 직접 사용해보면서 깨닫는 부분도 많았습니다.<br>팀원들 간의 원활한 소통으로 협업을 해보는 좋은 경험이 되었습니다.</p>
            </div>
        </div>
        <div class="card mb-5" style="width: 18rem;">
            <img src="/img/pgy.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title fw-bold">박권열</h5>
                <p class="card-text">
                    <strong>담당업무 :</strong> 자바 스크립트와 제이쿼리 및 ChartJS를 이용한 데이터 시각화
                </p>
                <p><strong>팀프로젝트에 대한 소감 : </strong><br>
                    스프링 수업에서는 이해가 되지 않았던 부분이 너무나도 많아 막막하였습니다.
                    하지만 프로젝트를 진행함에 따라 스프링에 대한 여러가지 개념들을 찾아보고 공유하고 직접 코딩을 하여 구현을 해보니 컨트롤러, 서비스, 리파지토리를 나누고, DTO와 DAO 같은 개념들도 익히게 되었습니다.
                    <br><br>

                    다만, 자바스크립트와 제이쿼리를 능숙하게 다루지 못하다보니 서버에서 받은 데이터를 JSON으로 파싱하여 ChartJS를 그리기위한 데이터로 정제하는 과정같은 것들이 너무 어려웠고 능숙하게 함수를 다루지 못한 점이 너무 아쉬웠습니다.
                    <br><br>

                    이번 프로젝트를 통해 확실하게 이해가 된 개념도 있었고 제가 부족한 부분이 어떤 것들인지에 대해 통감하게 되었습니다.
                    이후 JS, jQuery에 대한 더 깊은 이론을 공부할 것이며 코드 리팩토링하는 부분을 좀 더 공부해볼 생각입니다.
                    저에게는 너무 소중하고 뜻 깊은 경험이었고 함께 고생해준 팀원들에게 감사함을 전하고 싶습니다!
                </p>
            </div>
        </div>

    </div>
    <div th:replace="~{fragment/pageup::pageup}"></div>
</div>
</body>
</html>