<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/header :: header}">
    <title>사원등록</title>
</head>
<head>
    <style>
        .container{
            margin-top: 100px;
        }

        #formDiv{
            border : 5px solid white;
            padding: 50px;
            width: 500px;
        }
    </style>
</head>
<body class="vh-100">
<div th:replace="~{fragment/navbar::navbar}" class="navbar-fixed mb-3"></div>
<div class="container text-center text-white pb-5">
    <div class="row">
        <div id="formDiv" class="m-auto col-6">
            <form method="post">
                <legend class="fs-1 mb-5">비밀번호 확인</legend>
                <div class="mb-3">
                    <label for="password" class="form-label fw-bold fs-4">현재 비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <span id="check"></span>
                </div>
                <button type="submit" class="btn btn-primary">확인</button>
                <button type="button" class="btn btn-primary" onclick="goBack()">돌아가기</button>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        $("form").on("submit", function (event) {
            event.preventDefault();
            var password = $("#password").val();
            $.ajax({
                type: "POST",
                url: "/change-password",
                data : "password=" + password,
                success: function (response) {
                    window.location.href = '/update-password';
                },
                error: function (xhr, status, error) {
                    var span = $("#check");
                    span.css('color','red');
                    span.html("비밀번호가 일치하지 않습니다.");
                }
            });
        });
    });
</script>
<div th:replace="~{fragment/pageup::pageup}"></div>
</body>
</html>