<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/header :: header}">
    <title>사원등록</title>
</head>
<head>
    <style>
        .container{
            margin-top: 100px;
        }

        #formDiv{
            border : 5px solid white;
            padding: 50px;
            width: 500px;
        }
    </style>
</head>
<body class="vh-100">
<div th:replace="~{fragment/navbar::navbar}" class="navbar-fixed mb-3"></div>
<div class="container text-center text-white pb-5">
    <div class="row">
        <div id="formDiv" class="m-auto col-6">
            <form action="/update-password" method="post">
                <legend class="fs-1 mb-5">비밀번호 입력</legend>
                <div class="mb-3">
                    <label for="password" class="form-label fw-bold fs-4">새 비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="password_re" class="form-label fw-bold fs-4">새 비밀번호 재입력</label>
                    <input type="password" class="form-control" id="password_re" required>
                </div>
                <div class="mb-3">
                    <span id="check"></span>
                </div>
                <button type="submit" class="btn btn-primary">변경</button>
                <button type="button" class="btn btn-primary" onclick="goBack()">돌아가기</button>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {
        $("form").on("submit", function (event) {
            event.preventDefault();
            var password = $("#password").val();
            var password_re = $("#password_re").val();
            console.log(password);
            console.log(password_re);
            if(password !== password_re){
                var span = $("#check");
                console.log(span);
                span.css('color','red');
                span.html("비밀번호가 일치하지 않습니다.");
            } else {
                $.ajax({
                    type: "POST",
                    url: "/update-password",
                    data : "password=" + password,
                    success: function (response) {
                        Swal.fire({
                            icon: 'success',
                            title: '변경 성공',
                            text: '비밀번호가 변경되었습니다.'
                        }).then(result => {
                            window.location.href = '/';
                        });
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            icon: 'error',
                            title: '변경 실패',
                            text: '비밀번호가 변경에 실패하였습니다.'
                        })
                    }
                });
            }
        });
    });
</script>
<div th:replace="~{fragment/pageup::pageup}"></div>
</body>
</html>